.chart{
    flex: 4;
    -webkit-box-shadow: 5px 6px 10px 2px hsl(0, 12%, 92%);
  box-shadow: 5px 6px 10px 2px #ede6e6;
  padding: 10px;
  color: gray;

  .title{
    margin-bottom: 20px;
  }
  .chartGrid
  {
    stroke:lightgray
  }
}